<form novalidate class="css-form">
	<div ng-transclude></div>
	<table width="450px">
		<tr>
			<td valign="top">
				<label for="first_name2">First Name *</label>
			</td>
			<td valign="top">
				<input  type="text" name="first_name2" maxlength="50" size="30" ng-model="user.fname" required >
			</td>
		</tr>
		<tr>
			<td valign="top">
				<label for="last_name2">Last Name *</label>
			</td>
			<td valign="top">
				<input  type="text" name="last_name2" maxlength="50" size="30" ng-model="user.lname" required >
			</td>
		</tr>
		<tr>
			<td valign="top">
				<label for="email2">Email Address *</label>
			</td>
			<td valign="top">
				<input  type="email" name="email2" maxlength="50" size="30" ng-model="user.email" required >
			</td>
		</tr>
		<tr>
			<td valign="top">
				<label for="comments2">Comments</label>
			</td>
			<td valign="top">
				<textarea  name="comments2" maxlength="1000" cols="25" rows="6" ng-model="user.comment"></textarea>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="text-align:center">
				<button ng-click="reset()">RESET</button> 
				<button ng-click="update(user)">SEND</button>
			</td>
		</tr>
	</table>
</form>
<pre>form = {{user | json}}</pre>
<pre>master = {{master | json}}</pre>